.DS_Store
.dart_tool/

.packages
.pub/

build/
.idea/
.idea/.gitignore
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations/example_lib_main_dart.xml
.idea/vcs.xml
